[submodule "ros_ws/src/ros_ws/src/ros2_canopen"]
	path = ros_ws/src/ros_ws/src/ros2_canopen
	url = https://github.com/ros-industrial/ros2_canopen.git
[submodule "ros_ws/src/ros2_canopen"]
	path = ros_ws/src/ros2_canopen
	url = https://github.com/ros-industrial/ros2_canopen.git
